@font-face {
    font-family: "titillium-font";
    src: url("./fonts/TitilliumWeb-Regular.ttf");
}

body {
    font-family: "titillium-font", Sans-Serif !important;
    background-color: #E9ECEF !important;
    height: 100vh;
}
