@font-face {
    font-family: "titillium-font";
    src: url("./fonts/TitilliumWeb-Regular.ttf");
}

body {
    font-family: "titillium-font", Sans-Serif !important;
    background-color: #E9ECEF !important;
    height: 100vh;
}

.root {
    max-width: 1280px;
    margin: 0 auto;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
}

.jumbotron {
    text-align: center;
}

.heading {
    text-align: center;
    color: #7D0A0A;
}

.page-heading {
    text-align: center;
    color: #BF3131;
}

.product-image {
    width: 200px;
    height: 200px;
}

.product-description {
    text-align: center;
}
