@font-face {
    font-family: "titillium-font";
    src: url("./fonts/TitilliumWeb-Regular.ttf");
}

body {
    font-family: "titillium-font", sans-serif;
}

.root {
    max-width: 1280px;
    margin: 0 auto;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
}

.jumbotron {
    text-align: center;
}

.heading {
    text-align: center;
    color: #7D0A0A;
}

.page-heading {
    text-align: center;
    color: #BF3131;
}

.product-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-position: inside;
    padding: 0;
}

.product-list > li {
    border: 1px solid #cbd5e1;
    border-radius: 0.25rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.product-list > li:last-child {
    margin-bottom: 0;
}

.product-image {
    width: 200px;
    height: 200px;
}

.product-description {
    text-align: center;
}
